UKRDC.xsd

<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">
	<xs:element name="PatientRecord">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SendingFacility">
					<xs:annotation>
						<xs:documentation>OCS Code of source trust (5-char e.g. RXF01)</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="220"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Patient" type="Patient" minOccurs="1"/>
				<xs:element name="LabOrders" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="LabOrder" type="LabOrder" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="SocialHistories" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="SocialHistory" type="SocialHistory" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Observations" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Observation" type="Observation" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Allergies" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Allergy" type="Allergy" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Diagnoses" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Diagnosis" type="Diagnosis" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Medications" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Medication" type="Medication" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Procedures" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Procedure" type="Procedure" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Documents" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Document" type="Document" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Encounters" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Encounter" type="Encounter" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ClinicalRelationships" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalRelationship" type="ClinicalRelationship" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ProgramMemberships" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ProgramMembership" type="ProgramMembership" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="Patient">
		<xs:sequence>
			<xs:element name="PatientNumbers" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PatientNumber" type="PatientNumber" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Names">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="Name" minOccurs="0" maxOccurs="unbounded">
							<xs:annotation>
								<xs:documentation>1 instance of name must be present if an NHS Number or CHI Number is included.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BirthTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>YYYYMMDD           Presume HHMM not required                            1 instance of name must be present if an NHS Number or CHI Number is included.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>From NHS Dictionary   0=Not Known             1=Male                2=Female                 9=Not Specified                  1 instance of name must be present if an NHS Number or CHI Number is included.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addresses" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Address" type="Address" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ContactDetails" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactDetail" type="ContactDetail" maxOccurs="4">
							<xs:annotation>
								<xs:documentation>Only 1 of each type should be sent, If Contact Details wrapper included then at least of of the Contact Detail elements must be present</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CountryOfBirth" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>From NHS Data Dictionary   ISO 3166-1 Use the 3-char alphabetic code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FamilyDoctor" type="FamilyDoctor" minOccurs="0"/>
			<xs:element name="PersonToContact" type="PersonalContactType" minOccurs="0"/>
			<xs:element name="EthnicGroup" type="EthnicGroup" minOccurs="0">
				<xs:annotation>
					<xs:documentation>From NHS Data Dictionary   ETHNIC CATEGORY CODE which equates to RR18 (CodingStandard=ONS). From 2011 Scotland Census (CodingStandard=SCOT)   </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Occupation" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code range TBD </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PatientLanguage" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>From HL7 Table 0296 (??) TBC. Does this need to be a complex type?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Death" type="xs:boolean" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Present only when dead - replaces isDead concept</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Name">
		<xs:sequence>
			<xs:element name="Prefix" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prefix or title e.g. Mr, Mrs etc</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Family" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Surname or family name. Mandatory on Usual name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Given" minOccurs="0" maxOccurs="2">
				<xs:annotation>
					<xs:documentation>Up to 2 given names. If the person has more than 2 concatenate in the 2nd occurrence. 1 occurrence is mandatory for a Usual name.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Suffix" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Suffix e.g. Jnr, Snr etc.</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="use">
			<xs:annotation>
				<xs:documentation>Use codes from PDS		L=Usual			A=Alias 	(0..*)		PREFERRED=Preferred 		PREVIOUS-BIRTH=Birth name</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="CodeTableDetail">
		<xs:sequence>
			<xs:element name="CodingStandard" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Code" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Description" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Address">
		<xs:sequence>
			<xs:element name="FromTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ToTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Street">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Locality" minOccurs="0"/>
			<xs:element name="Town" type="xs:string"/>
			<xs:element name="County" type="xs:string" minOccurs="0"/>
			<xs:element name="Postcode" type="xs:string" minOccurs="0"/>
			<xs:element name="Country" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>From NHS Data Dictionary   ISO 3166-1 Use the 3-char alphabetic code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="use">
			<xs:annotation>
				<xs:documentation>From National MIM  H=Home      TMP=Temporary   PST=Postal</xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="ContactDetail">
		<xs:sequence>
			<xs:element name="Value" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The contact detail = phome number or email id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="80"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:annotation>
					<xs:documentation>????</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="70"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="use">
			<xs:annotation>
				<xs:documentation>Based on HL7 table 201   PRN=Home Phone   WPN=Work Phone    PRS=Mobile Number    NET=Email </xs:documentation>
			</xs:annotation>
		</xs:attribute>
	</xs:complexType>
	<xs:complexType name="EthnicGroup">
		<xs:complexContent>
			<xs:extension base="CodeTableDetail"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PatientNumber">
		<xs:sequence>
			<xs:element name="Number" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Patient Idenfitication Number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="CodeSystem" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Code System defining the namespace of the number. NHS=NHS Number   CHI=CHI Number  RR=Renal Registry No. ODS:RXF=Trust Identifier where RXF is the ODS code HSC=Northern Ireland   - and others.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FamilyDoctor">
		<xs:sequence>
			<xs:element name="GPPracticeId">
				<xs:annotation>
					<xs:documentation>National GP Practice Code</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="GPId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National GP Code</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Encounter">
		<xs:sequence>
			<xs:element name="EncounterNumber" type="xs:string"/>
			<xs:element name="EncounterType">
				<xs:annotation>
					<xs:documentation>RRT method/status /conservative care</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="E"/>
						<xs:enumeration value="I"/>
						<xs:enumeration value="O"/>
						<xs:enumeration value="N"/>
						<xs:enumeration value="G"/>
						<xs:enumeration value="P"/>
						<xs:enumeration value="S"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FromTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Time that encounter starts as  CCYYMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Time that encounter ends as  CCYYMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdmittingClinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Responsible Clinician as a National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdmitReason" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reason for change of care</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HealthCareFacility" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Parent renal unit as national ODS code (e.g. RXF01)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredAt" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National code for the hospital providing care - e.g. RXF01</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VisitDescription" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details of validation e.g. Date Done, by whom, who provided the info</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Allergy">
		<xs:sequence>
			<xs:element name="AllergyType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Type of Allergy (AL1-2)   HL7 Table 0204 e.g.    DA=Drug Allergy</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Allergy" type="CodeTableDetail">
				<xs:annotation>
					<xs:documentation>Substance to which the patient is allergic. SNOMED CT coded</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Severity" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AL1-5 HL7 Table 0206 eg SV=Severe</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Reaction" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>AL1-5 Free text definition of what happened. SNOMED could be added if required</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National clinician code if clinician reported using an appropriate OID or free </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscoveryTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Reported Date as CCYYMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfirmedTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Record exactly what happened</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InactiveTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Resolved time as CCYYMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreeTextAllergy" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Advice given to the patient</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="5000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="QualifyingDetails" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Details if patient or family reported</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SocialHistory">
		<xs:sequence>
			<xs:element name="SocialHabit" type="CodeTableDetail">
				<xs:annotation>
					<xs:documentation>Currently only used for smoking for which CodingStandard=RRSMOKE Code=YES/NO/EX</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Diagnosis">
		<xs:sequence>
			<xs:element name="DiagnosisType" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The type of diagnosis:  admitting, working, final, discharge</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiagnosingClinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Diagnosis" type="CodeTableDetail">
				<xs:annotation>
					<xs:documentation>SNOMED CT coded diagnoses. Primary Renal Diagnosis should additionally be included with a EDTA code. PRD will therefore be represented twice (SNOMED and EDTA)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdentificationTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date of initial diagnosis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnsetTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Date condition began. Can use approximate dates through truncation. CCYYMMDD or CCYYMM or CCYY</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredOn">
				<xs:annotation>
					<xs:documentation>The date the diagnosis was recorded in the medical record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Certainty" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FUTURE USE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Importance" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FUTURE USE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SideOfBody" minOccurs="0">
				<xs:annotation>
					<xs:documentation>FUTURE USE</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Observation">
		<xs:sequence>
			<xs:element name="ObservationTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>As CCYYMMDDhhmm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObservationCode" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>What observation is being recorded - e.g. Height/Weight. Use LOINC codes. Coding Standard is 2.16.840.1.113883.4.642.2.115 (OID for LOINC) ?? Did we discuss using OIDs ??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ObservationValue" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ObservationUnits" minOccurs="0"/>
			<xs:element name="Comments" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="999"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Clinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Requesting Physician as a nationally coded person. Use the description if this is not coded. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Procedure">
		<xs:sequence>
			<xs:element name="Procedure" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SNOMED CT encoded procedure.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcedureTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>As CCYYMMDDhhmm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredBy" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person entering the diagnosis as a National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredAt" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location the procedure was performed at. Use National coding e.g. RXF01</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Document">
		<xs:sequence>
			<xs:element name="DocumentTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document Creation as CCYYMMDDhhmm</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NoteText" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The body of the document as free text,</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentType" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Always TEXT for now. For future use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Clinician" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Document title</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ACTIVE or INACTIVE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredBy" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Person entering the diagnosis as a National Clinicial code where possible or other local code if not.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredAt" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location the procedure was performed at. Use National coding e.g. RXF01</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LabOrder">
		<xs:sequence>
			<xs:element name="PlacerId" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ORC:2 Placers Order Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FillerId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ORC:3 Labs Order Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderedBy" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ORC:12 Requesting Physician as a nationally coded person. Use the description if this is not coded. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItem" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The requested test</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ServiceId" type="CodeTableDetail">
							<xs:annotation>
								<xs:documentation>OBR:4 Service Id - the identity of the test ordered LOINC Code ???</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecimenSource" type="xs:string">
							<xs:annotation>
								<xs:documentation>OBR:15.1 e.g. serum, blood</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecimenAdditives">
							<xs:annotation>
								<xs:documentation>OBR:15.2 e.g. preservative ....</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecimenReceivedTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>CCYYMMDDhhmm           Equivalent to OBR:14</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SpecimenCollectedTime" type="xs:dateTime">
							<xs:annotation>
								<xs:documentation>CCYYMMDDhhmm           Equivalent to OBR:22</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Duration" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBR:27.3???</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="ResultItems" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ObservationValueType" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:2 Value Type - ST/NM</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ServiceId" type="CodeTableDetail" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:3 </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="SubId" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:4</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ObservationValue" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:5</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ResultValueUnits" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:6</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="30"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ReferenceRange" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:7</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="220"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="AbnormalFlags" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:8 Abnormal Flags</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Status" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:11   F=FINAL, P=PRELIMINARY, D=DELETED</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="100"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="ObservationTime" type="xs:dateTime" minOccurs="0">
							<xs:annotation>
								<xs:documentation>OBX:14</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Comments" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>From NTE:3</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ReferenceComment" minOccurs="0">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:maxLength value="1000"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="Assay" minOccurs="0">
							<xs:annotation>
								<xs:documentation>??? Not sure where/if this is in HL7 or what the vocab is???</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PatientClass" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In patient / out patient - equivalent ot PV1:2 Patient Class or derivation thereiof    Where can this map to in SDA????</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Medication">
		<xs:sequence>
			<xs:element name="PrescriptionNumber" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prescription Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Start Time of the prescription</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToTime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>End Time of the prescription</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderedBy" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Prescriber - National Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Route" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Medication Route from RR22 - Standard always RR22. Code is 1=Oral, 2=Topical, 3=Inhalation, 4=Injection, 5=Intra peritoneal, 9=Other - please specify in description. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DrugProduct" type="DrugProduct" minOccurs="0"/>
			<xs:element name="Frequency" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Frequency</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Other instructions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DoseQuantity" type="xs:decimal" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Dose</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Indication" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>The condition or problem for which the drug is being prescribed</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DrugProduct">
		<xs:sequence>
			<xs:element name="Id" type="CodeTableDetail">
				<xs:annotation>
					<xs:documentation>dm + d code for the drug</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Generic" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Generic name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LabelName" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Brand Name</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Form" type="CodeTableDetail" minOccurs="0">
				<xs:annotation>
					<xs:documentation>SNOMED Code and description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StrengthUnits" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Units - use RR table 23</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClinicalRelationship">
		<xs:sequence>
			<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="EnteredBy" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="EnteredAt" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="EnteredOn" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="UpdatedOn" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="FromTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ToTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ExternalId" type="xs:string" minOccurs="0"/>
			<xs:element name="EncounterNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="Clinician" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="FacilityCode" type="xs:string" minOccurs="0"/>
			<xs:element name="ClinicianGroup" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="ExpirationDate" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ActionScope" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProgramMembership">
		<xs:sequence>
			<xs:element name="ActionCode" type="xs:string" minOccurs="0"/>
			<xs:element name="EnteredBy" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="EnteredAt" type="CodeTableDetail" minOccurs="0"/>
			<xs:element name="EnteredOn" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="UpdatedOn" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ExternalId" type="xs:string" minOccurs="0"/>
			<xs:element name="EncounterNumber" type="xs:string" minOccurs="0"/>
			<xs:element name="ProgramName" type="xs:string" minOccurs="0"/>
			<xs:element name="ProgramDescription" minOccurs="0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="FromTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ToTime" type="xs:dateTime" minOccurs="0"/>
			<xs:element name="ActionScope" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonalContactType">
		<xs:sequence>
			<xs:element name="Name"/>
			<xs:element name="ContactDetails" type="ContactDetail" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Relationship"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
