Schema/Surveys/Survey.xsd

<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">

	<xs:include schemaLocation="../Types/Location.xsd"/>
	<xs:include schemaLocation="../Types/ActionCode.xsd"/>
    
    <xs:complexType name="Survey">
        <xs:sequence>
        
            <xs:element name="Survey" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Survey Type</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CodingStandard" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Code" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Description" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="Questions">
                <xs:sequence>
                    <xs:complexType name="Question">
                        <xs:sequence>
                        
                            <xs:element name="Question" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Question Type</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="CodingStandard" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="32000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Code" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="32000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="Description" minOccurs="0">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:maxLength value="32000"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>


                            <xs:element name="Response" type="xs:string"/>

                    </xs:complexType>

                </xS:sequence>
            </xs:complexType>

            <xs:element name="EnteredAt" type="Location" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Where the Survey was completed</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="0" name="UpdatedOn" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Last Modified Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            
            <xs:element minOccurs="0" name="ActionCode" type="ActionCode">
                <xs:annotation>
                    <xs:documentation>Add/Update/Delete Control</xs:documentation>
                </xs:annotation>
            </xs:element>
        
        </xs:sequence>
    
    </xs:complexType>


</xs:schema>