Schema/Transplants/Transplant.xsd

<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">
    <xs:include schemaLocation="../Procedures/Procedure.xsd"/>
    <xs:include schemaLocation="../Types/Gender.xsd"/>
    <xs:include schemaLocation="../Types/NV_RR14.xsd"/>
    <xs:include schemaLocation="../Types/RRTypes.xsd"/>
    <xs:complexType name="TransplantProcedure">
        <xs:complexContent>
            <xs:extension base="Procedure">
                <xs:sequence>
                    <xs:element name="Attributes" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="TRA64" type="xs:dateTime" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra64</xs:appinfo>
                                        <xs:documentation>Failure Date</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA65" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra65</xs:appinfo>
                                        <xs:documentation>Cause of Failure (RR10)</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="10">
                                                <xs:annotation>
                                                    <xs:documentation>Hyperacute Rejection</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="11">
                                                <xs:annotation>
                                                    <xs:documentation>Non-Viable Transplant Kidney</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="12">
                                                <xs:annotation>
                                                    <xs:documentation>Primary Non-Function of Transplant Kidney</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="13">
                                                <xs:annotation>
                                                    <xs:documentation>Acute Rejection</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="14">
                                                <xs:annotation>
                                                    <xs:documentation>Chronic Allograft Nephropathy</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="15">
                                                <xs:annotation>
                                                    <xs:documentation>Rejection following withdrawal of immunosuppression - non Medical Reason</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="16">
                                                <xs:annotation>
                                                    <xs:documentation>Rejection following withdrawal of immunosuppression - Medical Reason</xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="TRA66" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra66</xs:appinfo>
                                        <xs:documentation>Description of Failure</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA69" type="xs:dateTime" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra69</xs:appinfo>
                                        <xs:documentation>Date graft nephrectomy if graft failed</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA76" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra76</xs:appinfo>
                                        <xs:documentation>Graft Type (RR24)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA77" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra77</xs:appinfo>
                                        <xs:documentation>NHSBT Type</xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="DBD"/>
                                            <xs:enumeration value="DCD"/>
                                            <xs:enumeration value="LIVE"/>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="TRA78" type="RRNegPosUk" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra78</xs:appinfo>
                                        <xs:documentation>rCMV - Recipient CMV status at transplant</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA79" type="RRNegPosUk" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra79</xs:appinfo>
                                        <xs:documentation>rEBV - Recipient EBV status at transplant</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA80" type="xs:integer" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra80</xs:appinfo>
                                        <xs:documentation>Donor age</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA8A" type="Gender" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra8a</xs:appinfo>
                                        <xs:documentation>Donor sex</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA81" type="RRNegPosUk" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra81</xs:appinfo>
                                        <xs:documentation>rCMV - Donor CMV status at transplant </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA82" type="RRNegPosUk" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra82</xs:appinfo>
                                        <xs:documentation>rEBV - Donor CMV status at transplant </xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA83" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra83</xs:appinfo>
                                        <xs:documentation>Mismatch A</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA84" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra84</xs:appinfo>
                                        <xs:documentation>Mismatch B</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA85" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra85</xs:appinfo>
                                        <xs:documentation>Mismatch DR</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA86" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra86</xs:appinfo>
                                        <xs:documentation>ABO compatible</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA87" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra87</xs:appinfo>
                                        <xs:documentation>Plasma exchange</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA88" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra88</xs:appinfo>
                                        <xs:documentation>Immunoadsorption</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA89" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra89</xs:appinfo>
                                        <xs:documentation>Rituximab</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA90" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra90</xs:appinfo>
                                        <xs:documentation>IV immunoglobulin</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA91" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra91</xs:appinfo>
                                        <xs:documentation>Cold ischaemic time in hours</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA92" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra92</xs:appinfo>
                                        <xs:documentation>Primary function</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA93" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra93</xs:appinfo>
                                        <xs:documentation>Anticoagulation (RR15)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA94" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra94</xs:appinfo>
                                        <xs:documentation>CMV prophylaxis (RR16)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA95" type="xs:string" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra95</xs:appinfo>
                                        <xs:documentation>Pneumocystis prophylaxis (RR17)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA96" type="RRYesNo" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra96</xs:appinfo>
                                        <xs:documentation>Functioning</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA97" type="NV_RR14" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra97</xs:appinfo>
                                        <xs:documentation>Other organ transplanted simultaneously 1 (RR14)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                                <xs:element name="TRA98" type="NV_RR14" minOccurs="0">
                                    <xs:annotation>
                                        <xs:appinfo>transplant.tra98</xs:appinfo>
                                        <xs:documentation>Other organ transplanted simultaneously 2 (RR14)</xs:documentation>
                                    </xs:annotation>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>
