Schema/LabOrders/LabOrder.xsd

<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">

    <xs:include schemaLocation="../Types/Clinician.xsd"/>
    <xs:include schemaLocation="../Types/ActionCode.xsd"/>
    <xs:include schemaLocation="../Types/Order.xsd"/>
    <xs:include schemaLocation="../Types/CodeTableDetail.xsd"/>

<xs:complexType name="LabOrder">
    <xs:sequence>
        <xs:element minOccurs="0" name="PlacerId" type="xs:string">
            <xs:annotation>
                <xs:documentation>The ID assigned to the order when it was placed</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="FillerId" type="xs:string">
            <xs:annotation>
                <xs:documentation>The ID assigned to the order when it was filled</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="OrderItem" type="Order">
            <xs:annotation>
                <xs:documentation>What was ordered</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="OrderCategory" type="CodeTableDetail">
            <xs:annotation>
                <xs:documentation>This is used when you want a specific Order Category in order to group items in the viewer.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="OrderedBy" type="Clinician">
            <xs:annotation>
                <xs:documentation>Who ordered it</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Specimen" type="xs:string">
            <xs:annotation>
                <xs:documentation>Specimen code and description</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SpecimenCollectedTime" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>Date/time the specimen was collected</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="SpecimenReceivedTime" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>Date/time the specimen was received</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Frequency" type="Frequency">
            <xs:annotation>
                <xs:documentation>Frequency</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Duration" type="Duration">
            <xs:annotation>
                <xs:documentation>Duration</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Status" type="xs:string">
            <xs:annotation>
                <xs:documentation>The current status of the order</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Priority" type="Priority">
            <xs:annotation>
                <xs:documentation>The Priority of the Order</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Condition" type="xs:string">
            <xs:annotation>
                <xs:documentation>Condition</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="TextInstruction" type="xs:string">
            <xs:annotation>
                <xs:documentation>Text instructions/directions</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="OrderGroup" type="xs:string">
            <xs:annotation>
                <xs:documentation>This is a way to group related Orders together, such as a Prescription chain</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Comments" type="xs:string">
            <xs:annotation>
                <xs:documentation>Order Comments and notes.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="AuthorizationTime" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>Date/Time the Order was Authorized</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ReceivingLocation" type="HealthCareFacility">
            <xs:annotation>
                <xs:documentation>Location or Facility receiving/performing the order.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="VerifiedComments" type="xs:string">
            <xs:annotation>
                <xs:documentation>Verified Order Comments and notes.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="GroupId" type="xs:string">
            <xs:annotation>
                <xs:documentation>If this item was ordered as part of a group, this is the identifier of that group.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ActionCode" type="xs:string">
            <xs:annotation>
                <xs:documentation>Message action code</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ActionScope" type="xs:string">
            <xs:annotation>
                <xs:documentation>Not used.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="EnteredBy" type="User">
            <xs:annotation>
                <xs:documentation>EnteredBy</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="EnteredAt" type="Organization">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="EnteredOn" type="TimeStamp">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="FromTime" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>Start Date and Time of the Order</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ToTime" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation>End Date and Time of the Order</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="UpdatedOn" type="xs:dateTime">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ExternalId" type="xs:string">
            <xs:annotation>
                <xs:documentation>Identifier used by systems outside HealthShare.</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="EncounterNumber" type="xs:string">
            <xs:annotation>
                <xs:documentation>EncounterNumber - used to find the (or create a new) Encounter</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="CustomPairs" type="ArrayOfNVPairNVPair">
            <xs:annotation>
                <xs:documentation>The generic container to hold all sorts of data about this object</xs:documentation>
            </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="Result" type="Result">
            <xs:annotation>
                <xs:documentation></xs:documentation>
            </xs:annotation>
        </xs:element>
    </xs:sequence>
</xs:complexType>

</xs:schema>