Schema/LabOrders/LabOrder.xsd

<!-- edited with XMLSpy v2015 rel. 4 (x64) (http://www.altova.com) by Nick Jones (Agiloak Limited) -->
<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">
	<xs:include schemaLocation="../Types/Clinician.xsd"/>
	<xs:include schemaLocation="../Types/CF_HL7_0004.xsd"/>
	<xs:include schemaLocation="../Types/CommonMetadata.xsd"/>
	<xs:include schemaLocation="../Types/CodedField.xsd"/>
	<xs:include schemaLocation="../Types/Location.xsd"/>
    <xs:include schemaLocation="../Types/ServiceId.xsd"/>
    
    <xs:complexType name="LabOrders">
        <xs:sequence>
            <xs:element name="LabOrder" type="LabOrder" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:attribute name="start" type="xs:date"/>
        <xs:attribute name="stop" type="xs:date"/>
    </xs:complexType>    
    <xs:complexType name="ResultItems">
        <xs:sequence>
            <xs:element name="ResultItem" type="ResultItem" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

	<xs:complexType name="LabOrder">
		<xs:sequence>
			<xs:element name="ReceivingLocation" type="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Location or Facility receiving/performing the order. Code must be entered using national coding e.g. RXF01</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlacerId" minOccurs="1">
				<xs:annotation>
                    <xs:appinfo>laborder.placerid</xs:appinfo>
					<xs:documentation>ORC:2 Placers Order Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="FillerId" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.fillerid</xs:appinfo>
					<xs:documentation>ORC:3 Labs Order Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="OrderedBy" type="Clinician" minOccurs="0">
				<xs:annotation>
					<xs:documentation>ORC:12 Requesting Physician as a nationally coded person. Use the description if this is not coded. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderItem" type="CodedField" minOccurs="0">
				<xs:annotation>
					<xs:documentation>OBR:4 Service Id - the identity of the test ordered LOINC Code ???</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrderCategory" type="CodedField" minOccurs="0"/>
			<xs:element name="SpecimenCollectedTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.specimencollectedtime</xs:appinfo>
					<xs:documentation>CCYYMMDDhhmm Equivalent to OBR:22</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpecimenReceivedTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.specimenreceivedtime</xs:appinfo>
					<xs:documentation>CCYYMMDDhhmm Equivalent to OBR:14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.status</xs:appinfo>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="Priority" type="CodedField" minOccurs="0"/>
			<xs:element name="SpecimenSource" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.specimensource</xs:appinfo>
					<xs:documentation>OBR:15.1 e.g. serum, blood</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="50"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="Duration" type="xs:string" minOccurs="0">
				<xs:annotation>
					<!-- TODO: Confirm This -->
                    <xs:appinfo>laborder.duration</xs:appinfo>
					<xs:documentation>OBR:27.3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResultItems" type="ResultItems"/>
			<xs:element name="PatientClass" type="CF_HL7_0004" minOccurs="0">
				<xs:annotation>
					<xs:documentation>In patient / out patient - equivalent ot PV1:2 Patient Class or derivation thereiof Where can this map to in SDA????</xs:documentation>
				</xs:annotation>
			</xs:element>
			<!-- Note: UpdatedOn is down here (rather than at the top as usual) in the SDA -->
			<xs:element name="EnteredOn" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>laborder.enteredon</xs:appinfo>
					<xs:documentation>Date Order entered</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteredAt" type="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EnteringOrganization" type="Location" minOccurs="0">
				<xs:annotation>
					<xs:documentation></xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:group ref="CommonMetadata"/>
		</xs:sequence>
	</xs:complexType>
    
    
	<xs:complexType name="ResultItem">
		<xs:sequence>
			<xs:element name="ResultType" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.resulttype</xs:appinfo>
					<xs:documentation>AT</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="2"/>
					</xs:restriction>
				</xs:simpleType> 
			</xs:element>
			<xs:element name="EnteredOn" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:appinfo>resultitem.enteredon</xs:appinfo>
					<xs:documentation></xs:documentation>
				</xs:annotation>
            </xs:element>
			<xs:element name="PrePost" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.prepost</xs:appinfo>
					<xs:documentation>Was the sample taken PRE or POST dialysis</xs:documentation>
				</xs:annotation>
                <xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="PRE">
							<xs:annotation>
								<xs:documentation>Pre-Dialysis</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="POST">
							<xs:annotation>
								<xs:documentation>Post-Dialysis</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="UNK">
							<xs:annotation>
								<xs:documentation>Unknown</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
						<xs:enumeration value="NA">
							<xs:annotation>
								<xs:documentation>Not Applicable</xs:documentation>
							</xs:annotation>
						</xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>                
			</xs:element>
			<xs:element name="ServiceId" type="ServiceId" minOccurs="0">
				<xs:annotation>
					<xs:documentation>Test Code (OBX:3)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubId" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.subid</xs:appinfo>
					<xs:documentation>Sub-Test Code (OBX:4)</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ResultValue" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.resultvalue</xs:appinfo>
					<xs:documentation>OBX:5</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="ResultValueUnits" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.resultvalueunits</xs:appinfo>
					<xs:documentation>OBX:6</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ReferenceRange" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.referencerange</xs:appinfo>
					<xs:documentation>OBX:7</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="220"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="AbnormalFlags" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.abnormalflags</xs:appinfo>
					<xs:documentation>OBX:8 Abnormal Flags</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Status" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.status</xs:appinfo>
					<xs:documentation>OBX:11 F=FINAL, P=PRELIMINARY, D=DELETED</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ObservationTime" type="xs:dateTime" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.observationtime</xs:appinfo>
					<xs:documentation>OBX:14</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Comments" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.commenttext</xs:appinfo>
					<xs:documentation>From NTE:3</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>                
			</xs:element>
			<xs:element name="ReferenceComment" minOccurs="0">
				<xs:annotation>
                    <xs:appinfo>resultitem.referencecomment</xs:appinfo>
					<xs:documentation></xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="1000"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
