Schema/Procedures/Transplant.xsd

<xs:schema xmlns="http://www.rixg.org.uk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.rixg.org.uk/">

    <xs:include schemaLocation="../Types/Clinician.xsd"/>
    <xs:include schemaLocation="../Types/Location.xsd"/>
    <xs:include schemaLocation="../Types/ActionCode.xsd"/>
    <xs:include schemaLocation="../Types/CF_RR14.xsd"/>

    <xs:complexType name="TransplantProcedure">
        <xs:sequence>
            <xs:element minOccurs="0" name="UpdatedOn" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Last Modified Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Procedure" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>SNOMED CT encoded procedure.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="CodingStandard" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Code" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="Description" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="32000"/>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Clinician" type="Clinician" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>National Clinicial code where possible or other local code if not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ProcedureTime" type="xs:dateTime" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>As CCYYMMDDhhmm</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EnteredBy" type="Clinician" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Person entering the diagnosis as a National Clinicial code where possible or other local code if not.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="EnteredAt" type="Location" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Location the procedure was performed at. Use National coding e.g. RXF01</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ActionCode" type="ActionCode">
                <xs:annotation>
                    <xs:documentation>Add/Update/Delete Control</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExternalId" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Unique Identifier (Ideally UKT Transplant Number)</xs:documentation>
                </xs:annotation>
            </xs:element>

            <xs:element name="Attributes" minOccurs="0">
                <!-- SDA: NVPairs -->
                <xs:complexType>
                    <xs:sequence>

                        <xs:element name="TRA64" type="xs:dateTime">
                            <xs:annotation>
                                <xs:documentation>Failure Date</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="TRA65" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Cause of Failure</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="TRA66" type="xs:dateTime">
                            <xs:annotation>
                                <xs:documentation>Description of Failure</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="TRA69" type="xs:dateTime">
                            <xs:annotation>
                                <xs:documentation>Date graft nephrectomy if graft failed</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="TRA76" type="xs:dateTime">
                            <xs:annotation>
                                <xs:documentation>Graft Type</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                        <xs:element name="TRA77" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>NHSBT Type</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA78" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>rCMV - Recipient CMV status at transplant </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA79" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>rEBV - Recipient EBV status at transplant </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA80" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Donor age</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA8A" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Donor sex</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA81" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>rCMV - Donor CMV status at transplant </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA82" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>rEBV - Donor CMV status at transplant </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA83" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Mismatch A</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA84" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Mismatch B</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA85" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Mismatch DR</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA86" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>ABO compatible</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA87" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Plasma exchange</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA88" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Immunoadsorption</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA89" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Rituximab</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA90" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>IV immunoglobulin</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA91" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Cold ischaemic time in hours</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA92" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Primary function</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA93" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Anticoagulation</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA94" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>CMV prophylaxis</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA95" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Pneumocystis prophylaxis</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA96" type="xs:string">
                            <xs:annotation>
                                <xs:documentation>Functioning</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA97" type="CF_RR14">
                            <xs:annotation>
                                <xs:documentation>Other organ transplanted simultaneously 1</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="TRA98" type="CF_RR14">
                            <xs:annotation>
                                <xs:documentation>Other organ transplanted simultaneously 2</xs:documentation>
                            </xs:annotation>
                        </xs:element>

                    </xs:sequence>
                </xs:complexType>
            </xs:element>

        </xs:sequence>
    </xs:complexType>
</xs:schema>
